/************************
* Sets Typography Scale *
************************/

//Use
/*
h3 {
  font-size: ms(3);
}
*/

$modularscale: (
  base: 1em, // Change as necessary, use link to choose
  ratio: 1.5 // http://www.modularscale.com/?1&em&1.618&web&text
);
